<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>Esri Leaflet Tutorials: Display a map</title>

    <!-- Load Leaflet from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>

    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@3.0.12/dist/esri-leaflet.js"></script>
    <script src="https://unpkg.com/esri-leaflet-vector@4.2.5/dist/esri-leaflet-vector.js"></script>


    <style>
      body {
        margin: 0;
        padding: 0;
      }
      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #323232;
      }
    </style>
  </head>

  <body>
    <div id="map"></div>

    <script>

      const map = L.map("map", {
        minZoom: 2
      })

      map.setView([34.02, -118.805], 13);

      const accessToken = "AAPTxy8BH1VEsoebNVZXo8HurP19bjcxUulX2DZhKx0tgkYsvJQUCTNVxhpyoVOz3oBUD712ADrDaHFtQmN3-Zmyo0VVMbNYTWQJ-_F72zjwf0T2vA7B8NHSl6zz0kYo9_TdqYw42KKp_ylkL6RJfT1IeZzBlentsC6wNeuMxUIAWEioTd2auQJ2QHu_BzkCFFwDV62JcySVyJFSjBHS-ySqzSpMSkfvYMpLHeH59PZPrzw.AT1_E3mwdEJr"
      const basemapEnum = "arcgis/streets";

      L.esri.Vector.vectorBasemapLayer(basemapEnum, {
        token: accessToken
      }).addTo(map);

    </script>

  </body>

</html>